<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Training Program</title>
    <link rel="stylesheet" href="/css/component.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/icon_gam.png">
    <!-- included script -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- --- -->


    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/css/Bootstrap%205/bootstrap.min.css" >
    <script src="/js/Bootstrap%205/bootstrap.bundle.min.js"></script>
    <script src="/js/JQuery/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="/css/DataTable/jquery.dataTables.css">
    <script src="/js/DataTable/jquery.dataTables.js"></script>
    <link href="/css/create-training.css" rel="stylesheet">
    <link href="/css/CreateClass/calendar.css" rel="stylesheet">
    <link href="/css/CreateClass/style.css" rel="stylesheet">
    <script src="/js/create-class.js"></script>
    <link rel="stylesheet" href="/css/select2/select2.css">
    <script src="/js/select2/select2.min.js"></script>
    <script src="/js/menu.js"></script>
</head>

<body>
<div class="d-flex flex-column" style="height: 89vh;">
    <div id="header">
    </div>
    <form th:action="@{/class/tooltip}" method="post" th:object="${class}">
        <input type="hidden" th:field="*{className}">
        <div class="d-flex flex-grow-1 flex-row" >
            <div id="navbar" class="" style="background-color: #edf2f7;"></div>
            <div id="syllabus" class="flex-grow-1" style="max-width: 1520px; margin-bottom: 10px">
                <!-- content -->
                <div id="title">
                    <h1 style="color: white">Training Program</h1>
                    <div id="class-name">
                        <div class="text-wrapper"><span th:text="${class.className}"></span></div>
                        <div class="activate">
                            <div class="inactive"><span th:text="${class.status}"></span></div>
                        </div>
                    </div><br>
                    <div class="day-hour">
                        <div class="div">
                            <div class="div-2">
                                <div id="days" style="color: white" class="text-wrapper">___</div>
                                <div  class="text-wrapper-2">days</div>
                            </div>
                            <div class="div-wrapper">
                                <div id="hours" class="hours">(hours)</div>
                            </div>
                        </div>
                        <div class="div-wrapper">
                            <div class="text-wrapper-3">|</div>
                        </div>
                    </div>
                </div>
                <div class="row w-100" style="margin-top: 10px">
                    <div class="row w-100" style="margin-top: 10px">
                        <div style="margin-top: 20px" class="training-programs">
                            <div class="tab">
                                <button disabled class="first">Training Program </button>
                            </div>
                            <div class="content">
                                <div class="training-program" style="padding-bottom: 10px;margin-top: 2px;">
                                    <div class="search-training-program" style="position: relative;max-height: 94.4px">
                                        <div th:if="${class.trainingProgram == null}"  class="in-search" id="in-search">
                                            <h4 style="color:white;">Select Item</h4>
                                            <div>
                                                <img src="/img/search.svg" style="position: relative; left: 29px;z-index:1">
                                                <input style="height: 30px; padding-left: 40px; position: relative;left: -30px" type="text" name="" id="textSearch" placeholder="Program ...">
                                                <ul id="training-search-result-ul"  style="z-index: 1;list-style: none ;display: block;border-radius: 0 0 10px 10px;background-color: white; border: 1px solid black; position: absolute; margin-left: 20px; margin-top: -21px; width: 390px" >
                                                    <li  style="color: black;display: none;" id="training-search-result" >
                                                        <div class="training-program-result">
                                                            <div disabled>
                                                                <div class="text-wrapper" style="margin-left: -30px"></div>
                                                                <div class="div">
                                                                    <div class="text-wrapper-2" style="margin-left: -30px;margin-right: 75px"> days</div>
                                                                    <p class="element-by" style="margin-bottom: -6.5px">
                                                                        <span class="span"></span>
                                                                        <span class="text-wrapper-3">by</span>
                                                                        <span class="span">&nbsp;</span>
                                                                        <span class="text-wrapper-4"></span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="training-program-parent">
                                            <div th:if="${class.trainingProgram == null}" id="training-program-child" class="training-program-child" style="margin-top: -10px;display: none;">
                                                <div class="program-name">
                                                    <div class="frame">
                                                        <div class="text-wrapper"><span  ></span></div>
                                                        <input type="hidden" name="training_program_name" >
                                                    </div>
                                                </div>
                                                <div class="syllabus-meta">
                                                    <p class="div"><span class="span"><span ></span> days </span>
                                                        <span class="text-wrapper-2">(<span ></span> hours)</span></p>
                                                    <div class="text-wrapper-3">|</div>
                                                    <p class="div">
                                                        <span class="span">Modified on </span>
                                                        <span class="text-wrapper-2"><span ></span></span>
                                                        <span class="span"> by </span>
                                                        <span class="text-wrapper-4"><span ></span></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div th:if="${class.trainingProgram != null}" class="training-program-child" style="margin-top: -10px;display: block;">
                                            <div class="program-name">
                                                <div class="frame">
                                                    <div class="text-wrapper"><span  th:text="${class.trainingProgram.name}"></span></div>
                                                    <input type="hidden" name="training_program_name" th:value="${class.trainingProgram.name}">
                                                </div>
                                            </div>
                                            <div class="syllabus-meta">
                                                <p class="div"><span class="span"><span th:text="${class.trainingProgram.duration}"></span> days </span>
                                                    <span class="text-wrapper-2">(<span th:text="${class.trainingProgram.duration*24}"></span> hours)</span></p>
                                                <div class="text-wrapper-3">|</div>
                                                <p class="div">
                                                    <span class="span">Modified on </span>
                                                    <span class="text-wrapper-2"><span th:text="${class.trainingProgram.modifiedDate}"></span></span>
                                                    <span class="span"> by </span>
                                                    <span class="text-wrapper-4"><span th:text="${class.trainingProgram.modifiedBy}"></span></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="training-program-content" style="background-color: white; display: block; z-index: 3">
                                    <div th:if="${syllabus == null}" id="none-or-content" style="margin-bottom: 10px; width: 99%;" type="text">
                                        <div class="syllabus-none" id="syllabus-none" style="height: 20px;display: none;"></div>
                                        <div class="syllabus" id="syllabus-content" style="display: none;width: 100%">
                                            <div class="frame" style="display: inline-block;margin-top: 10px">
                                                <div class="group">
                                                    <div class="overlap-group">
                                                        <div class="ellipse"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="frame-wrapper" style="display: inline-block;top: -55px;left: -4px">
                                                <div class="div">
                                                    <div class="program-name">
                                                        <div class="frame-2">
                                                            <div class="frame-2">
                                                                <div class="div-wrapper">
                                                                    <div style="color: black" class="text-wrapper">Linux</div>
                                                                </div>
                                                                <div class="activate">
                                                                    <div class="text-wrapper-2">Active</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="navbar">
                                                        <div class="text-wrapper-3">LIN v2.0</div>
                                                        <div class="text-wrapper-3">|</div>
                                                        <p class="p"><span class="span">4 days </span> <span
                                                                class="text-wrapper-4">(12hours)</span></p>
                                                        <div class="text-wrapper-3">|</div>
                                                        <p class="p">
                                                            <span class="span">on </span>
                                                            <span class="text-wrapper-4">23/07/2022</span>
                                                            <span class="span"> by Johny Deep</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${syllabus != null}"  style="margin-bottom: 10px; width: 99%;" type="text">
                                        <div th:each="s:${syllabus}" class="training-program-content" style="background-color: white;">
                                            <div style="margin-bottom: 10px; width: 99%;" type="text">
                                                <div class="syllabus"  style="display: block;width: 100%">
                                                    <div class="frame" style="display: inline-block;margin-top: 10px">
                                                        <div class="group">
                                                            <div class="overlap-group">
                                                                <div class="ellipse"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="frame-wrapper" style="display: inline-block;top: -55px;left: -4px">
                                                        <div class="div">
                                                            <div class="program-name">
                                                                <div class="frame-2">
                                                                    <div class="frame-2">
                                                                        <div class="div-wrapper">
                                                                            <div style="color: black" class="text-wrapper">[[${s.topicName}]]</div>
                                                                        </div>
                                                                        <div class="activate">
                                                                            <div class="text-wrapper-2">[[${s.publicStatus}]]</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="navbar">
                                                                <div class="text-wrapper-3">[[${s.version}]]</div>
                                                                <div class="text-wrapper-3">|</div>
                                                                <p class="p">
                                                                    <span class="span">on </span>
                                                                    <span class="text-wrapper-4">[[${s.modifiedDate}]]</span>
                                                                    <span class="span"> by [[${s.modifiedBy}]]</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div id="next-create">-->
        <!--            <input type="hidden" th:field="*{status}">-->
        <!--            <input type="hidden" th:field="*{attendee.actual}">-->
        <!--            <input type="hidden" th:field="*{attendee.accepted}">-->
        <!--            <input type="hidden" th:field="*{attendee.planned}">-->
        <!--            <input type="hidden" th:field="*{attendee.attendeeType.attendeeType}">-->
        <!--            <input type="hidden" th:field="*{startDate}">-->
        <!--            <input type="hidden" th:field="*{endDate}">-->
        <!--            <input type="hidden" th:field="*{fsu}">-->
        <!--            <input type="hidden" th:field="*{timeTo}">-->
        <!--            <input type="hidden" th:field="*{timeFrom}">-->
        <!--            <input type="hidden" th:field="*{endDate}">-->
        <!--            <input type="hidden" name="admin" th:value="${adminChoice}">-->
        <!--            <input type="hidden" name="trainer" th:value="${trainer}">-->
        <!--        </div>-->
        <div class="saving-button" style="margin: 37px; right: 10px;">
            <div class="add-day-button"><a th:href="@{'/trainingprogram/create-training-program'}" class="text-wrapper" style="text-decoration: none">Cancel</a></div>
            <input th:href="@{'/trainingprogram/create-training-program'}"
                   disabled id="next-to-tool" class="frame" type="submit" style="color: white;padding: 1px 5px" value="Save" >
        </div>

</div>
</form>
<div id="footer"></div>
</div>



<script src="/component/header.js"></script>
<script src="/component/footer.js"></script>
<script src="/component/navbar.js"></script>
<script src="/js/component.js"></script>
<!-- Ract -->
<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>

<!-- DatePicker and dependencies-->
<script src="https://cdn.jsdelivr.net/npm/date-object@latest/dist/umd/date-object.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-element-popper@latest/build/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-multi-date-picker@latest/build/browser.min.js"></script>

<!-- Optional Plugin -->
<script
        src="https://cdn.jsdelivr.net/npm/react-multi-date-picker@latest/build/date_picker_header.browser.js"></script>
</body>

</html>