*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
    font-size: 0.6rem;
}

ul, li {
    list-style: none;
}

input {
    border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.footer-TWx {
    width: 100%;
    height: 7.9rem;
    background-color: #ffffff;
    flex-shrink: 0;
}

.footer-TWx .frame-34-DFE {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3748;
}

.header-f7E {
    width: 100%;
    height: 7.9rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz {
    box-sizing: border-box;
    padding: 1rem 2.9rem 1rem 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3748;
}

.header-f7E .frame-20-1Rz .logo-92Q {
    width: 9.2rem;
    height: 5.9rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp {
    margin: 0.7rem 0;
    height: calc(100% - 1.4rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-18-QU8 {
    margin: 0.75rem 4rem 0.75rem 0rem;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    width: 10.7rem;
    height: calc(100% - 1.5rem);
    background-color: #0a2036;
    border-radius: 3rem;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-18-QU8 .frame-17-iUp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-18-QU8 .frame-17-iUp .image-2-ssW {
    margin-right: 0.7rem;
    width: 2.8rem;
    height: 2rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-18-QU8 .frame-17-iUp .unigate-R8L {
    margin-top: 0.1rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-16-XSG {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-16-XSG .group-8-g4G {
    margin: 0.05rem 0.7rem 0.05rem 0rem;
    width: 4.4rem;
    height: calc(100% - 0.1rem);
    position: relative;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-16-XSG .group-8-g4G .mask-group-Nxg {
    width: 4.3rem;
    height: 4.2rem;
    position: absolute;
    left: 0.1rem;
    top: 0.05rem;
    object-fit: contain;
    vertical-align: top;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-16-XSG .group-8-g4G .ellipse-14-hVA {
    width: 4.4rem;
    height: 4.4rem;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2.2rem;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-16-XSG .frame-15-zUG {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-16-XSG .frame-15-zUG .warrior-tran-9rx {
    margin-bottom: 0.3rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Segoe UI, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.header-f7E .frame-20-1Rz .frame-19-Gcp .frame-16-XSG .frame-15-zUG .log-out-UuE {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Segoe UI, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL {
    padding: 3rem 1rem;
    width: 266px;
    height: inherit;
    background-color: #edf2f7;
}

.navigation-vWL .frame-93-F2p {
    margin: 0rem 0rem 2.5rem 2rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
}

.navigation-vWL .home-NNL {
    margin: 0rem 14.3rem 2.5rem 2rem;
    width: calc(100% - 16.3rem);
    display: flex;
    align-items: center;
}

.navigation-vWL .home-NNL .home-hvQ {
    margin-right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .home-NNL .home-EvL {
    margin-top: 0.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #285d9a;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG {
    margin-bottom: 3rem;
    width: 100%;
    height: 20.5rem;
    position: relative;
}

.navigation-vWL .auto-group-6wsv-mvG .syllabus-6he {
    box-sizing: border-box;
    padding-left: 2.325rem;
    width: 24.6rem;
    height: 10.2rem;
    position: absolute;
    left: 0;
    top: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .syllabus-6he .syllabus-RE8 {
    width: 100%;
    height: 2.4rem;
    display: flex;
    align-items: center;
}

.navigation-vWL .auto-group-6wsv-mvG .syllabus-6he .syllabus-RE8 .frame-94-ZbE {
    margin: 0.1rem 9.6rem 0.1rem 0rem;
    height: calc(100% - 0.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .syllabus-6he .syllabus-RE8 .frame-94-ZbE .book-open-hSY {
    margin-right: 1.325rem;
    width: 1.75rem;
    height: 1.575rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .syllabus-6he .syllabus-RE8 .frame-94-ZbE .syllabus-2zc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #285d9a;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .syllabus-6he .syllabus-RE8 .naviopen-mSQ {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .training-module-uoW {
    box-sizing: border-box;
    padding-left: 2rem;
    width: 24.6rem;
    height: 11.2rem;
    position: absolute;
    left: 0;
    top: 4.9rem;
}

.navigation-vWL .auto-group-6wsv-mvG .training-module-uoW .training-module-Eat {
    width: 100%;
    height: 2.4rem;
    display: flex;
    align-items: center;
}

.navigation-vWL .auto-group-6wsv-mvG .training-module-uoW .training-module-Eat .frame-95-nsJ {
    margin-right: 2.3rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .training-module-uoW .training-module-Eat .frame-95-nsJ .biotech-9hr {
    margin-right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .training-module-uoW .training-module-Eat .frame-95-nsJ .training-program-V12 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #285d9a;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .training-module-uoW .training-module-Eat .naviopen-1zx {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ {
    width: 24.6rem;
    height: 10.7rem;
    position: absolute;
    left: 0;
    top: 9.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .class-UtY {
    margin: 0rem 0rem 1rem 2rem;
    width: calc(100% - 2rem);
    height: 2.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .class-UtY .frame-96-ofv {
    margin-right: 12.3rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .class-UtY .frame-96-ofv .school-ZQC {
    margin-right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .class-UtY .frame-96-ofv .class-W4Y {
    margin-top: 0.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #285d9a;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .class-UtY .naviopen-2oa {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .view-class-mmA {
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    padding: 0.5rem 7.7rem 0.5rem 4.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .view-class-mmA .arrowforwardios-6YY {
    margin-right: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .view-class-mmA .view-class-dYU {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #285d9a;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .create-class-xak {
    margin: 0rem 6.6rem 0rem 4.5rem;
    width: calc(100% - 11.1rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .create-class-xak .arrowforwardios-tjJ {
    margin-right: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-6wsv-mvG .classmaster-xQQ .create-class-xak .create-class-36Q {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #285d9a;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .training-calendar-m2Q {
    margin: 0rem 0rem 2.5rem 2rem;
    width: calc(100% - 2rem);
    height: 2.4rem;
    display: flex;
    align-items: center;
}

.navigation-vWL .training-calendar-m2Q .frame-97-Gzk {
    margin: 0.1rem 1.9rem 0.1rem 0rem;
    height: calc(100% - 0.2rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.navigation-vWL .training-calendar-m2Q .frame-97-Gzk .calendartoday-b1S {
    margin-right: 1.5rem;
    width: 2.1rem;
    height: 2.1rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .training-calendar-m2Q .frame-97-Gzk .training-calendar-7Va {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #285d9a;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .training-calendar-m2Q .naviopen-3e8 {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL {
    width: 100%;
    height: 16.6rem;
    position: relative;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n {
    box-sizing: border-box;
    padding-bottom: 3.9rem;
    width: 24.6rem;
    height: 11.2rem;
    position: absolute;
    left: 0;
    top: 0;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .users-e88 {
    margin: 0rem 0rem 1rem 2rem;
    width: calc(100% - 2rem);
    height: 2.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .users-e88 .frame-98-Zkt {
    margin-right: 0.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .users-e88 .frame-98-Zkt .group-XBv {
    margin-right: 1.5rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .users-e88 .frame-98-Zkt .user-management-G9W {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #285d9a;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .users-e88 .naviopen-bha {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .auto-group-q2wd-YMv {
    box-sizing: border-box;
    padding: 1.5rem 0rem 0rem 2rem;
    width: 100%;
    height: 3.9rem;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .auto-group-q2wd-YMv .learning-materials-UWU {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .auto-group-q2wd-YMv .learning-materials-UWU .frame-99-q68 {
    margin-right: 0.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .auto-group-q2wd-YMv .learning-materials-UWU .frame-99-q68 .folder-BQt {
    margin-right: 1.5rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .auto-group-q2wd-YMv .learning-materials-UWU .frame-99-q68 .learning-materials-7pL {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #285d9a;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .user-management-89n .auto-group-q2wd-YMv .learning-materials-UWU .naviopen-FQk {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .setting-nfa {
    box-sizing: border-box;
    padding-left: 2rem;
    width: 24.6rem;
    height: 6.8rem;
    position: absolute;
    left: 0;
    top: 9.8rem;
}

.navigation-vWL .auto-group-wq6t-BkL .setting-nfa .setting-KfW {
    width: 100%;
    height: 2.4rem;
    display: flex;
    align-items: center;
}

.navigation-vWL .auto-group-wq6t-BkL .setting-nfa .setting-KfW .frame-98-UYQ {
    margin-right: 10.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .setting-nfa .setting-KfW .frame-98-UYQ .settings-2pp {
    margin-right: 1.5rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .setting-nfa .setting-KfW .frame-98-UYQ .setting-yEG {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #285d9a;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.navigation-vWL .auto-group-wq6t-BkL .setting-nfa .setting-KfW .naviopen-J1e {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
