.eclipse-img{
    position: sticky;
    display: block;
    max-width: 100%;
    margin-left: 56px;
    margin-right: 0px;
}

.syllabus-creation-header{
    display: flex;
    width: 100%;
    height: 79px;
    padding: 10px 0px 0px 30px;

    border-bottom: 1px solid var(--Main, #2D3748);
    background: #FFF;
}
    .progress-frame{
        display: flex;
        align-items: flex-start;
        gap: 50px;
    }
        .progress-frame-name{
            color: var(--Main, #2D3748);
            /* section */



            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 4.8px;
        }
        .progress-bar{
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            align-items: flex-start;
        }
            .label{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 3px;
                flex: 1 0 0;
            }
                .bar{
                    background: #CCCCCC;
                    width: 100%;
                    height: 12px;
                }
                .completed-bar{
                    background: var(--blue-main, #285D9A);
                }
                .radius-border-bar-start{
                    border-radius: 6px 0px 0px 6px;
                }
                .radius-border-bar-start-1{
                    border-radius: 6px 6px 6px 6px
                }
                .radius-border-bar-end{
                    border-radius: 0px 6px 6px 0px;
                }
                .label-name{
                    width: 62px;

                    margin-right: 2px;
                    border: 1px solid;
                    border-radius: 6px 6px 6px 6px;
                    /*background: #6D7684;*/

                    flex: 1 0 0;

                    /*color: #FFF;*/
                    text-align: center;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .label-name-padding{
                    display: flex;
                    padding-bottom: 3px;
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;
                }
