:root {
  --x-100: rgba(247, 250, 252, 1);
  --x-300: rgba(226, 232, 240, 1);
  --sub-info: rgba(71, 71, 71, 1);
  --main: rgba(45, 55, 72, 1);
  --alert: rgba(231, 74, 59, 1);
  --un-modified: rgba(139, 139, 139, 1);
  --orange-main: rgba(212, 91, 19, 1);
  --female: rgba(255, 117, 104, 1);
  --green-main: rgba(47, 144, 63, 1);
  --blue-main: rgba(40, 93, 154, 1);
  --box: rgba(241, 241, 241, 1);
  --sub-text-font-family: "Inter-Italic", Helvetica;
  --sub-text-font-weight: 400;
  --sub-text-font-size: 14px;
  --sub-text-letter-spacing: 0px;
  --sub-text-line-height: normal;
  --sub-text-font-style: italic;
  --header-font-family: "Inter-Bold", Helvetica;
  --header-font-weight: 700;
  --header-font-size: 16px;
  --header-letter-spacing: 0px;
  --header-line-height: normal;
  --header-font-style: normal;
  --paragraph-font-family: "Inter-Regular", Helvetica;
  --paragraph-font-weight: 400;
  --paragraph-font-size: 14px;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --paragraph-font-style: normal;
  --section-font-family: "Inter-Medium", Helvetica;
  --section-font-weight: 500;
  --section-font-size: 24px;
  --section-letter-spacing: 4.8px;
  --section-line-height: normal;
  --section-font-style: normal;
  --title-font-family: "Inter-Bold", Helvetica;
  --title-font-weight: 700;
  --title-font-size: 36px;
  --title-letter-spacing: 7.2px;
  --title-line-height: normal;
  --title-font-style: normal;
  --sub-title-font-family: "Inter-Bold", Helvetica;
  --sub-title-font-weight: 700;
  --sub-title-font-size: 24px;
  --sub-title-letter-spacing: 0px;
  --sub-title-line-height: normal;
  --sub-title-font-style: normal;
  --textregular: rgba(30, 31, 32, 1);
  --charactertitle-85: rgba(0, 0, 0, 0.85);
  --neutral-1: rgba(255, 255, 255, 1);
  --neutral-5: rgba(217, 217, 217, 1);
  --primary-1: rgba(230, 247, 255, 1);
  --line: rgba(172, 172, 172, 1);
  --hitbox: rgba(255, 255, 255, 0);
  --primary-6: rgba(24, 144, 255, 1);
  --character-disabledampplaceholder-25: rgba(0, 0, 0, 0.25);
  --neutral-3: rgba(245, 245, 245, 1);
  --characterprimary-85: rgba(0, 0, 0, 0.85);
  --body-regular-font-family: "Roboto-Regular", Helvetica;
  --body-regular-font-weight: 400;
  --body-regular-font-size: 14px;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 22px;
  --body-regular-font-style: normal;
}
