.header-tittle{
    background-color: #2d3748;
    padding: 20px;
    border: 1px solid white;
    position: relative;
}
.header-tittle h1{
    letter-spacing: 3px;
    color: white;
    font-weight: 500;
    font-size: 22px;
}
.header-content{
    display: flex; align-items: center;
}
.header-content h1{
    color: white; letter-spacing: 3px; font-size: 40px;
}
.header-content p{
    padding: 3px 10px;
    color: white;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 10px;
}
.dot{
    position: absolute; bottom: 20px; right: 20px;
    cursor: pointer;
}
.dot i{
    color: white; font-size: 30px
}
.dotcontent{
    position: absolute; right: 0; display: none
}
.dotcontent-items{
    display: flex;
    width: 221px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:5px;
    background: white;
    border-radius: 10px;
    border: 1px solid #b9acac7d;
    box-shadow: 0px 0px 5px 0px #433e3ea1;
}
.dotcontent-items span{
    width:100%;font-weight: 600;
    border-bottom: 1px solid #b5a8a8;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.dotcontent-items-item{
    display: flex;
}
.dotcontent-items-item a{
    margin:0;text-decoration: none;color: #0a58ca
}
.dotcontent-items-item button{
    margin:0;text-decoration: none;color: #0a58ca;
    border: none;
    padding: 0px;
    background-color: initial;
}
#a-inactive{
    margin:0;text-decoration: none; color: rgba(139, 139, 139, 1);
}
.tittle-each-content{
    font-weight: 800;font-size: 25px;
}
.container-introduce{
    border-bottom: 1px solid
}
#duration{
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 600;
    padding-right: 5px
}
#duration-value{
    font-size: 25px; font-weight: 600; padding-right: 5px;
}

.footer-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}
.footer-button #a1{
    border: none;
    background-color: rgba(45, 55, 72, 0.71);
    padding: 0 15px;
}
.footer-button #a2{
    border: none;
    background-color: rgba(40, 93, 154, 1);
    padding: 0 15px;
}
.footer-button #a2 button{
    color: white;
    text-decoration: none;
    border: none;
    background: rgba(40, 93, 154, 1);
}
.footer-button #a3{
    border: none;
    background-color: rgba(212, 91, 19, 1);
    padding: 0 15px;
    border-radius: 3px;
}
.footer-button #a3 button{
    color: white;
    text-decoration: none;
    border: none;
    background: #D45B13;
}

.footer-button #a4{
    border: none;
    background-color: rgba(45, 55, 72, 1);
    padding: 0 15px;
    border-radius: 3px;
}
.footer-button #a4 button{
    color: white;
    text-decoration: none;
    border: none;
    background: rgba(45, 55, 72, 1);
}
.ft-items{
    display: flex;
}
.syllabus-container #item{
    display: flex; align-items: center; justify-content: space-between;
}
.syllabus-item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #ffffff52;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.syllabus-item #name{
    color: #2d3748;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 24px;
    padding-bottom: 5px;
}
.syllabus-container #content{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}
#content p{
    color: #474747;
    font-size: 14px;
    padding-right: 10px;
    margin: 0;
    border-right: 1px solid #000;
}
#content p:last-child {
    border-right: none;
}
.program-info {
    border-bottom: 1px solid;
    margin-bottom: 20px; /* Điều chỉnh khoảng cách giữa các phần tử */
}

.duration {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
}

.label {
    padding-right: 5px;
}

.value {
    padding-right: 5px;
}

.modified-info {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Điều chỉnh khoảng cách giữa các phần tử */
}

.modified-date {
    margin-top: 0;
}

.date-value {
    padding-left: 5px;
    padding-right: 5px;
}

.modified-by {
    margin-top: 0;
}

.user-value {
    padding-left: 5px;
    font-weight: 600;
    color: #2d3748;
}
.content-container{
    display: none;
}
.visible {
    display: block;
}
.active {
    display: block;
}
.content-items{
    display: flex; background-color: rgba(45, 55, 72, 1); margin-bottom: 5px;
}
.content-items p{
    font-weight: bold; color: white
}
.detail-items{
    border-bottom: 1px solid #000;
}
.detail-items:last-child {
    border-bottom: none;
}
.detail-items #content-header{
    display: flex;
}
.detail-items #content-content{
    display: flex;
}

.frame-1,
.frame-2 * {
    box-sizing: border-box;
}
.frame-1 {
    background: #2d3748;
    border-style: solid;
    border-color: var(--box, #f1f1f1);
    border-width: 0px 0px 1px 0px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    height: 30px;
    width: 100%;
    cursor: pointer;
}
.frame-2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.day {
    display: flex;
    color: #ffffff;
    text-align: left;
    font: 700 16px "Inter", sans-serif;
    position: relative;
    margin-top: 15px;
    gap: 5px;
}
/*.content-day{*/
/*    display: none;*/
/*}*/
.detail-items-header{
    display: none;
}
.frame-1205,
.frame-1205 * {
    box-sizing: border-box;
}
.frame-1205 {
    background: var(--main, #2d3748);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.east {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.frame-51,
.frame-51 * {
    box-sizing: border-box;
}
.frame-51 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    margin-top: 15px;
}
.frame-512 {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 75px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 944px;
    position: relative;
}
.unit-6 {
    color: #000000;
    text-align: left;
    font: 700 16px "Inter", sans-serif;
    position: relative;
}
.frame-47 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 229px;
    position: relative;
}
.mvc-architecture-in-asp-net {
    color: #000000;
    text-align: left;
    font: var(--header, 700 16px "Inter", sans-serif);
    position: relative;
}
._6-hrs {
    color: #323232;
    text-align: left;
    font: var(--subtext, 400 italic 14px "Inter", sans-serif);
    position: relative;
}
.frame-53 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
}
.arrow-drop-down-circle {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.content-tc{
    margin-left: 70px;
    display: none;
}
.visible2{
    display: block;
}
.frame-81,
.frame-81 * {
    box-sizing: border-box;
}
.frame-81 {
    padding: 0px 20px 0px 30px;
    display: flex;
    flex-direction: row;
    gap: 75px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-89 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
    position: relative;
}
.frame-43 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 948px;
    position: relative;
}
.frame-41 {
    background: var(--box, #f1f1f1);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 34px;
    position: relative;
}
.mvc-architectural-pattern-overview {
    color: #000000;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.frame-40 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 385px;
    position: relative;
}
.frame-95 {
    background: #2d3748;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.tc-output {
    color: #ffffff;
    text-align: left;
    font: var(--paragraph, 400 14px "Inter", sans-serif);
    position: relative;
}


.concept-lecture {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.folder {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
}
.group {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.offline {
    background: var(--main, #2d3748);
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.offline2 {
    color: #ffffff;
    text-align: left;
    font: 400 10px "Roboto", sans-serif;
    position: relative;
}




.tc-time {
    color: #000000;
    text-align: left;
    font: 400 14px "Inter", sans-serif;
    position: relative;
}

.frame-49 {
    background: var(--box, #f1f1f1);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 34px;
    position: relative;
}
.tc-name{
    color: #000000;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.seminar-workshop {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.status-label {
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.group4{
    cursor:pointer;
}